.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}
.overviewBody {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "pt pt pt pt bg bg bg"
    "pt pt pt pt bg bg bg"
    "pt pt pt pt bg bg bg"
    "tr tr tr tr bg bg bg"
    "tr tr tr tr bg bg bg"
    "tr tr tr tr bg bg bg"
    "tr tr tr tr rb rb rb"
    "tr tr tr tr rb rb rb"
    "tr tr tr tr rb rb rb";
}
.pots {
  grid-area: pt;
}
.transactions {
  grid-area: tr;
}
.budgets {
  grid-area: bg;
}
.recurringBills {
  grid-area: rb;
}

@media (max-width: 1024px) {
  .overviewBody {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "pt pt pt pt"
      "pt pt pt pt"
      "pt pt pt pt"
      "bg bg bg bg"
      "bg bg bg bg"
      "bg bg bg bg"
      "bg bg bg bg"
      "bg bg bg bg"
      "bg bg bg bg"
      "tr tr tr tr"
      "tr tr tr tr"
      "tr tr tr tr"
      "tr tr tr tr"
      "tr tr tr tr"
      "tr tr tr tr"
      "rb rb rb rb"
      "rb rb rb rb"
      "rb rb rb rb";
  }
  .overview {
    width: 98%;
  }
}
