.budget {
  height: 300px;
  width: 100%;
}

.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
}
.legend li {
  display: flex;
  gap: 4px;
  font-size: 16px;
}

.leftBar {
  display: inline-block;
  width: 4px;
  height: 16px;
  border-radius: 2px;
}

@media (max-width: 1024px) {
}
